.root {
  /* padding: 16px; */
  font-family: monospace;
  font-size: 13px;
  /* background: #fff; */
  /* border: 1px solid #ddd; */
  border-radius: var(--size-radius-4);
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  box-shadow: 0 5px 10px 0px rgba(7,7,7,.1);
}
.root > div:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
  border-bottom: 1px solid lightgray;
}
/* @media (max-width: var(--monitor-xs)) {}
@media (min-width: calc(var(--monitor-xs) + 1px)) {} */

.stack0 {
  display: flex;
  flex-direction: column;
}
.stack2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 0 10px; */
}
.stickyHeader {
  background-color: #fff;
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid lightgray; */
  box-shadow: rgba(34, 60, 80, 0.2) 0px 10px 7px -8px;
  z-index: 1;
}
.stickyFooter {
  background-color: #fff;
  position: sticky;
  bottom: 0;
  box-shadow: 0px -10px 7px -8px rgba(34, 60, 80, 0.2);
  z-index: 1;
}
.smallText {
  font-size: 9px;
}

.title {
  margin: 0;
}

.close {
  display: flex;
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.close:hover {
  background-color: lightgray;
}
