.root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.inner {
  display: flex;
  flex: 1;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: var(--size-radius-2) 0;
  overflow: hidden;
  cursor: pointer;
  
  position: static;
}
/* .inner:hover {
  border: 2px solid rgba(0, 0, 0, .3);
} */
.absoluteBadge {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: rotate(0deg) translateX(50%) translateY(-50%);
}
.msgErr {
  background-color: var(--color-err-msg-bg);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  max-width: 100px;
  word-break: break-word;
  border: 2px solid #fff;
  font-size: 6px;
  font-weight: bold;
  box-shadow: 0 5px 10px 0px rgba(7,7,7,.3);
}
.innerStackItem {
  padding: 4px;
}

.male {
  background: var(--color-male);
}

.female {
  background: var(--color-female);
}

.isRoot {
  border-color: rgba(0, 0, 0, .4);
}

.isHover {
  /* border-color: rgba(0, 0, 0, .4); */
  outline: 4px solid var(--color-active-outline);
  box-shadow: 0 5px 10px 0px rgba(7,7,7,.3);
}
.isSelected {
  outline: 4px solid var(--color-selected-outline);
}

.id {
  font-size: 7px;
  line-height: 1;
  /* opacity: .5; */
}

.sub {
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  right: 14px;
  width: 20px;
  height: 14px;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: var(--size-radius-1) 0;
  background: #fff;
  cursor: pointer;
}
.sub.male {
  background: var(--color-male);
}

.sub.female {
  background: var(--color-female);
}
