.SRLElementWrapper > svg.SRLLoadingIndicator {
  left: calc(50% - 25px);
}

#SRLLightbox {
  background-color: rgba(0, 0, 0, .8);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #SRLLightbox {
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(.1em);
    backdrop-filter: blur(.1em);
  }
}

.SRLThumbnailsButton,
.SRLNextButton,
.SRLPrevButton,
.SRLCloseButton,
.SRLExpandButton,
.SRLZoomInButton,
.SRLZoomOutButton {
  border-radius: 8px !important;
}

.SRLControls > *:not(:last-child) {
  margin-right: 8px;
}
