* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5;
  color: #222;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-user-drag: none;
  font-feature-settings: "pnum" 1, "kern" 1, "liga" 1;
}

#root {
  height: 100%;
}

/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, .9);
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.backdrop-blur--lite {
  background-color: rgba(255, 255, 255, .9);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--lite {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(.5em);
    backdrop-filter: blur(.5em);
  }
}

.backdrop-blur--subdark {
  background-color: rgba(0, 0, 0, .3);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--subdark {
    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(.15em);
    backdrop-filter: blur(.15em);
  }
}

.backdrop-blur--dark {
  background-color: rgba(0, 0, 0, .8);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur--dark {
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(.1em);
    backdrop-filter: blur(.1em);
  }
}
